server:
  port: 8443
  ssl:
    key-store: file:/app/keystore.p12
    key-store-password: ${SSL_KEY_STORE_PASSWORD}
    keyStoreType: PKCS12
    keyAlias: tomcat

spring:
  application:
    name: ${PROJECT_NAME}
  main:
    allow-bean-definition-overriding: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql-container:3306/${PROJECT_NAME}?serverTimezone=UTC&characterEncoding=UTF-8
    username: ${DB_USER_NAME}
    password: ${DB_USER_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL5Dialect
          format_sql: true
    show-sql: true
    database: mysql
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Seoul
    serialization:
      fail-on-empty-beans: false
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  redis:
    host: redis-container
    port: 6379
    password: ${REDIS_PASSWORD}
  batch:
    initialize-schema: always
    job:
      enabled: false
      names: ${job.name:NONE}
  jwt:
    secret: ${JWT_SECRET_KEY}
  frontend:
    url: https://${FRONTEND_IP_FOR_GREEN_JANGTEO}
    local:
      url: ${FRONTEND_LOCAL_IP_FOR_GREEN_JANGTEO}

logging:
  config: classpath:logback-spring.xml

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
